@model Genesis_Mart.Models.Product
@{
    ViewBag.Title = "ProductPreview";

    @Styles.Render("~/Content/css");
}

<div class="container">
    <div class="row m-5 pt-2">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 menuall">
            <img src="~/images/@Model.PRImage">
        </div>
    </div>
    <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">

            <p class="itemheading allpwrite">@Model.PRName</p>

            <div class="d-inline-flex">
                <p class="addalliconsp">Type</p>
                <p class="addalliconspqua">@Model.PRType</p>
            </div>

            <p class="itemdes allpwrite">@Model.PRDescription</p>

            <div class="d-inline-flex">
                <p class="addalliconsp">Rating</p>
                <p class="addalliconspqua">@Model.PRRating</p>
            </div>

            <div>

            </div>

            <div class="d-inline-flex ">
                <p class="addalliconsp">Quantity</p>
                <p class="addalliconspqua">@Model.PRQuantity</p>
            </div>

            <p class="addalliconsp allpwrite">@Model.PRPrize /=</p>

            <button class="addtocart">
                <p class="text-align-centre">ADD TO CART</p>
            </button>

        </div>
    </div>
</div>
